// imports
@import url("https://fonts.googleapis.com/css?family=Courgette|Roboto");

// variables
$primary-color: #cf4232;
$secondary-color: #eb7f23;
$third-color: #fac023;
$fourth-color: #068675;
$fifth-color: #6b202e;
$font-color: #fffcf9;
$font-color-two: #000;
$headline-font: Courgette;
$text-font: Roboto;

// Showcase Carousel
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headline-font;
}
p {
  font-family: $text-font;
  padding: 0px;
  margin: 0px;
}

.bar {
  background-color: $fifth-color;
}

.carousel-inner {
  p {
    margin-bottom: 175px;
  }
}
.carousel-item {
  height: 450px;
}

.carousel-image-1 {
  background: url("../img/margarita.jpg");
  background-size: cover;
  p,
  h1 {
    color: $third-color;
    text-shadow: 2px 2px 2px $secondary-color;
  }
}

.carousel-image-2 {
  background: url("../img/burrito.jpg");
  background-size: cover;
  p,
  h1 {
    color: $fourth-color;
    text-shadow: 2px 2px 2px $fifth-color;
  }
}

.carousel-image-3 {
  background: url("../img/salsa.jpg");
  background-size: cover;
  p,
  h1 {
    color: $secondary-color;
    text-shadow: 2px 2px 2px $fourth-color;
  }
}

#history {
  background-color: $primary-color;
}

#menu {
  background-color: $secondary-color;
  .monday {
    background-color: $fourth-color;
    color: $font-color;
  }
  .tuesday {
    background-color: $third-color;
    color: $font-color-two;
  }
  .wednesday {
    background-color: $fourth-color;
    color: $font-color;
  }
  .thursday {
    background-color: $third-color;
    color: $font-color-two;
  }
  .friday {
    background-color: $fourth-color;
    color: $font-color;
  }
}

#catering {
  background-color: $third-color;
}

#contact {
  color: $fourth-color;
}
